# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.production
.env.development

# Next.js
.next/
out/
build/
dist/

# Testing
coverage/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/*.iml
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Misc
.DS_Store
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
